* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    color: #fdfdfd;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

nav {
    display: block;
    justify-content: space-between;
}

h1 {
    display: flex;
}

header {
    background-image: url(fondo-netflix.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;

}

.netflix-logo {
    width: 15%;
    height: auto;
}

.navegar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulos {
    font-size: 3rem;
    font-weight: 600;
}
.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    margin: 4rem 0;
    border-top: .3rem solid #222;
    border-bottom: .3rem solid #222;

}

.cajaPreguntas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #303030;
    width: 90%;
    margin: .5rem 0;
    padding: .75rem 1rem;
}

.footerLinks {
    color: #757575;
}

.language {
    color: #757575;
}
