* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    background-color: #002244;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    width: 100vw;
    
    .logo {
        width: 20vw;
        margin: 1rem .5rem .5rem 1rem;

        &:hover {
            width: 27vw;
            transition: .25s;
        }
    }

    .encabezado {
        font-size: 1rem;
        margin: .5rem 0 .5rem 1rem;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

main {
    margin-top: 35vh;
}


.title {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    border-top: .2rem solid #C60C30;
    border-bottom: .2rem solid #C60C30;

}

.games {
    display: flex;
    flex-direction: column;
}
.card {
    color: #fff;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

button {
    margin: 1rem 0;
    padding: .5rem 5rem;
    border-radius: 5px;
}

button:hover {
    opacity: .85;
    font-weight: 800;
}

.was {
    background-color: #773141;
    color: #ffb300;
}

.phi {
    background-color: #004C54;
    color: #A5ACAF;
}

.nyc {
    background-color: #0B2265;
    color: #fff;
}

.opponent {
    margin-top: 1rem;
    width: 20vw;
}
.washington {
    background-color: #773141;
}
.eagles {
    background-color: #004C54;
}
.giants {
    background-color: #0B2265;
}

@media screen and (min-width: 633px) and (max-width: 910px) {
    .encabezado {
        font-size: 2rem;
    }

    .games {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .card {
        width: 30vw;
        height: 70vh;
        font-size: 1rem;
    }

    .title {
        visibility: visible;
    }

    .nav {
        position: relative;
    }
}

@media screen and (min-width: 910px){
    .encabezado {
        font-size: 3rem;
    }

    .title {
        margin: 1rem;
        padding: .5rem;
        display: flex;
        justify-content: center;
        border-top: .4rem solid #C60C30;
        border-bottom: .4rem solid #C60C30;
    }

    .games {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .card {
        width: 30vw;
        height: 90vh;
    }

    .title {
        visibility: visible;
    }

}